@font-face {
  font-family: Lato-Light;
  src: url('./Lato-Light.ttf');
}

@font-face {
  font-family: Lato-Bold;
  src: url('./Lato-Bold.ttf');
}

html, body {
  height: 100%;
}

body {
  background: linear-gradient(180deg, rgb(30, 50, 83), rgb(28, 36, 62) 86%)  no-repeat;
}
header {
  display: flex;
  border: #f1f1f1 1px solid;
  border-radius: 5px;
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.paper, .rock, .scissors {
  margin: 38px;
}

.paper {
  background-image: url('../images/icon-paper.svg');
  width: 49px;
  height: 59px;
  margin-left: 40px;
}

.rock {
  background-image: url('../images/icon-rock.svg');
  width: 48px;
  height: 48px;
  margin-left: 42px;
  margin-top: 44px;
}

.scissors {
  background-image: url('../images/icon-scissors.svg');
  width: 51px;
  height: 58px;
  margin-left: 42px;
}

.wrapper-paper, .wrapper-scissors, .wrapper-rock {
  background: #e9ebe7;
  border-radius: 50%;
  border: 16px solid;
  width: 135px;
  height: 135px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 24em;
}

.wrapper-paper {
  border-color: #cf8c2d;
  margin-right: 50px;
}

.wrapper-rock {
  border-color: #4565d7;
  margin-left: auto;
  margin-right: auto;
  margin-top: 46px;
}

.wrapper-scissors {
  border-color: #d83b57;
}

.bg-triangle {
  background-image: url('../images/bg-triangle.svg');
  width: 313px;
  height: 278px;
  position: absolute;
  z-index: -2;
  margin-left: 2.35em;
  margin-top: 50px;
}

.logo {
  background-image: url('../images/logo.svg');
  width: 162px;
  height: 99px
}

.wrapper-score {
  background: #f1f1f1;
  border-radius: 4px;
  width: 100px;
  height: 73px;
  margin: 13px 0 0 323px;
  text-align: center;
}

.score-p {
  color: #5c5c5e;
  margin-top: 11px;
  font-size: 11px;
  font-family: Lato-Light;
  font-weight: 900;
}

#score { 
  color: #3c4262;
  font-size: 28px;
  margin-top: -5px;
  font-family: Lato-Bold;
}

.div {
  display: flex;

}